<?xml version="1.0" encoding="utf-8"?>
<!--@POSTPROC: ./postproc.sh-->
<module suppressWarnings="true">

<Login f="nodata">
  <Login f="noscroll">
    <User  t="list" f="user" l="General"/>
  </Login>
</Login>

<General f="nodata">
  <General f="noscroll">
    <Create_New_Job        t="button" l="Site_Admin"/>
    <List_of_Existing_Jobs t="list"   e="Site_Admin"/>
  </General>
  <search/>
</General>

<Site_Admin>
  <Admin_Info>
    <DoE_Site_School f="id notnull">
      DoE Site (School)
      <str>
        <fmt>$2: </fmt>
        <pos>1</pos>
      </str>
    </DoE_Site_School>
    <School_Code f="id notnull">
      <str>
        <fmt>$2</fmt>
        <pos>2</pos>
      </str>
    </School_Code>
    <Principal_s_delegate_name>
      Principal's delegate (name)
    </Principal_s_delegate_name>
    <Contractor_business_name>
      Contractor (business name)
    </Contractor_business_name>
    <Contractor_site_supervisor>
      Contractor (site supervisor)
    </Contractor_site_supervisor>
    <Record_Arrival_Time t="button"/>
    <Arrival_first_day f="readonly">
      Arrival (first day)
    </Arrival_first_day>
    <Personnel/>
  </Admin_Info>
  <Deliverable f="noscroll">
    <Add_New_Task            t="button" lc="Task"/>
    <List_of_Completed_Tasks t="list"   ec="Task"/>
  </Deliverable>
  <Recommendations>
    <Recommendations t="checkbox">
      <opts>
        <opt>Maintain this area by current practices</opt>
        <opt>Vegetation in the entire area must be maintained to the IPA Standard</opt>
        <opt>Additional trees, shrubs and other plants not to be planted to exceed the IPA Standard</opt>
        <opt>Fuel hazard must not be removed and maintained to the IPA Standard</opt>
        <opt>Other</opt>
      </opts>
    </Recommendations>
    <Recommendation_Notes/>
    <Record_Departure_Time t="button"/>
    <Departure_last_day f="readonly">
      Departure (last day)
    </Departure_last_day>
    <Date_of_APZ_Completion/>
    <Time_of_APZ_Completion/>
    <Date_of_APZ_Handover/>
    <Time_of_APZ_Handover/>
    <Items_Items_to_be_resolved>
      Items/Items to be resolved
    </Items_Items_to_be_resolved>
    <Cultural_Inspection_Notes/>
  </Recommendations>
</Site_Admin>

<Task>
  <Task_Completed>
    <Photo_Before t="camera"/>
    <gps/>
    <Completed_Task f="id notnull">
      <str>
        <fmt>$1: </fmt>
        <pos>1</pos>
      </str>
      <opts>
        <opt>Deadwooding of limbs</opt>
        <opt>Leaf Litter Removal</opt>
        <opt>Tree Identification &amp; Removal</opt>
        <opt>Stump Grinding (new &amp; existing)</opt>
        <opt>Mulching</opt>
        <opt>Seed Collection</opt>
        <opt>Controlled Burn of zone/s</opt>
        <opt>Future APZ recommendations</opt>
        <opt>Other</opt>
      </opts>
    </Completed_Task>
    <Location_Description f="id notnull">
      <str>
        <fmt>$2: </fmt>
        <pos>2</pos>
      </str>
    </Location_Description>
    <Notes_Comments>
      Notes/Comments
    </Notes_Comments>
    <Photo_After  t="camera"/>
    <Task_Completed t="button"/>
    <Task_Completed_at f="id notnull readonly">
      <str>
        <fmt>$2: </fmt>
        <pos>3</pos>
      </str>
    </Task_Completed_at>
  </Task_Completed>
</Task>

<logic><![CDATA[
/**************************** TIMESTAMP POPULATION ****************************/
  void recordArrivalTime() {
    String ref = "Site_Admin/Admin_Info/Arrival_first_day";
    setToTimestampNow(ref);
  }

  void recordDepartureTime() {
    String ref = "Site_Admin/Recommendations/Departure_last_day";
    setToTimestampNow(ref);
  }

  void recordTaskCompletedat() {
    String ref = "Task/Task_Completed/Task_Completed_at";
    setToTimestampNow(ref);
  }

  addOnEvent("Site_Admin/Admin_Info/Record_Arrival_Time",        "click", "recordArrivalTime()");
  addOnEvent("Site_Admin/Recommendations/Record_Departure_Time", "click", "recordDepartureTime()");
  addOnEvent("Task/Task_Completed/Task_Completed",               "click", "recordTaskCompletedat()");

/************************ DATE/TIME PICKER POPULATION *************************/
  void setFieldToLastDateInput(String ref) {
    String date = getLastDateAlertInput();
    setFieldValue(ref, date);
  }

  void setFieldToLastTimeInput(String ref) {
    String date = getLastTimeAlertInput();
    setFieldValue(ref, date);
  }

  void showDatePickerActions(String ref) {
    String head  = "Select Date";
    String body  = "";
    String cbOk  = "setFieldToLastDateInput(\"" + ref + "\")";
    String cbBad = "";
    showDateAlert(head, body, cbOk, cbBad);
  }

  void showTimePickerActions(String ref) {
    String head  = "Select Time";
    String body  = "";
    String cbOk  = "setFieldToLastTimeInput(\"" + ref + "\")";
    String cbBad = "";
    showTimeAlert(head, body, cbOk, cbBad);
  }

  void bindDatePicker(String ref) {
    String cb = "showDatePickerActions(\"" + ref + "\")";
    addOnEvent(ref, "focus", cb);
  }

  void bindTimePicker(String ref) {
    String cb = "showTimePickerActions(\"" + ref + "\")";
    addOnEvent(ref, "focus", cb);
  }

  bindDatePicker("Site_Admin/Recommendations/Date_of_APZ_Completion");
  bindDatePicker("Site_Admin/Recommendations/Date_of_APZ_Handover");
  bindTimePicker("Site_Admin/Recommendations/Time_of_APZ_Completion");
  bindTimePicker("Site_Admin/Recommendations/Time_of_APZ_Handover");
]]></logic>

</module>
